[MESSAGES CONTROL]

# Disable specific messages
disable=missing-module-docstring

# Set good names.
good-names= i, X, y, n, K, df, l1, l2, id, _X, _X_working, _X_testing, _X_training, X_testing, X_training, _UUID

[DESIGN]

# Maximum number of arguments for function / method
max-args=10
max-attributes=12

[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=7
